
@using RazorPages
@model IndexModel2

<h2>Separate page model</h2>
<p>
    @Model.Message
</p>

@{
    var inCSharp = true;
    <p>Now in HTML, was in C# @inCSharp</p>
}

@{ var people = new string[] { "a", "b" }; }
@for (var i = 0; i < people.Length; i++)
{
    var person = people[i];
    <text>Name: @person</text><br />
}